@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:wght@300;600;700&display=swap');

:root{
    --netflixColor:#B20710;
    --huluColor: #1CE783;
    --disneyColor: #006E99;
    --primeColor: #00A8E1;
    --englishViolet: #453750;
    --nyanza: #F4FDD9;
    --manatee: #8B94A3;
    --carrotOrange: #EA9010;
    --darkLiver: #474647;
    --deepBurgundy: #230007;
}



/* CSS file for index.html / index.js attributes */
body, html{
    margin: 0;
    font-family: "Zilla Slab", sans-serif;
}

.toolTip{
    position: absolute;
    background: white;
    color: black;
}
.toolTip b {
    font-weight: 600;
}

.page{
    background: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.filter{
    background: var(--darkLiver);
    color: white;
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

#filter{
    padding: 20px; /*padding to be changed - just used for testing */
    padding-top: 60px;
    /*background: darkslategray;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
}

.chordDiagram{
    background: var(--nyanza);
    flex-grow: 1;
    display: flex;
    padding: 3pc;
    align-items: center;
}

.movieList{
    background: var(--englishViolet);
    color: white;
    width: 20%;
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

.movieList>table{
    flex-grow: 1;
    overflow: auto;
}

.boxplotsParent{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.boxplots{
    height: 50%;
    /*flex-basis: 40%;*/
    flex-grow: 1;
    margin: 5px;
    background: var(--manatee);
    color: white;
    justify-content: center;
    text-align: center;
}

.boxplots>svg{
    height: 100%;
}

svg{
    height: 100%;
    max-width: 100%;
}

/*@media screen and (max-width: 700px){*/
/*    .boxplotsParent{*/
/*        flex-direction: column;*/
/*    }*/

/*    .boxplots{*/
/*        flex-basis: 100%;*/
/*    }*/
/*}*/


.genres svg{
    width: unset;
    height: unset;
    flex-grow: 1;
}

.barPlots{
    flex-grow: 1;
    background: var(--manatee);
    color: white;
    display: flex;
    padding: 3pc;
    align-items: center;
    height: 100%;
}

.ageView{
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
    align-items: stretch;
    display: flex;
}

.ageButtons{
    z-index: 1000;
}

.languageComparison{
    padding: 3pc;
    display: flex;
    flex-grow: 1;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: stretch;
}

.languages{
    background: var(--manatee);
    width: 45%;
    height: 45%;
}

.genres{
    /*padding: 3pc;*/
    display: flex;
    flex-grow: 1;
    justify-content: stretch;
    align-items: stretch;
    background: var(--deepBurgundy);
}

.axis
{
    font-size: 10pt;
    font-family: sans-serif;
    color: grey;
}

.multiple-select-dropdown{

}

/** Following code  block taken from: https://codepen.io/alexventuraio/pen/pwZJMK**/
/**** Custom styles for noUiSlider ****/
.noUi-connect {
    background: var(--carrotOrange) !important;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    background: var(--carrotOrange);
}
.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: var(--carrotOrange);
}