/* CSS file for index.html / index.js attributes */
body, html{
    margin: 0;
}

.page{
    background: aliceblue;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.filter{
    /*background: rebeccapurple;*/
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

#filter{
    padding: 20px; /*padding to be changed - just used for testing */
    padding-top: 60px;
    /*background: darkslategray;*/
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
}

.chordDiagram{
    background: white;
    flex-grow: 1;
    display: flex;
    padding: 3pc;
    align-items: center;
}

.movieList{
    background: red;
    width: 20%;
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
}

.quickComparison{
    margin-top: 1.8pc;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quickStats{
    background: aquamarine;
    width: 45%;
    height: 45%;
}

.multiselect-wrapper {

}


/** Following code  block taken from: https://codepen.io/alexventuraio/pen/pwZJMK**/
/**** Custom styles for noUiSlider ****/
.noUi-connect {
    background: darkcyan;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    background: darkcyan;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: darkcyan;
}