/* CSS file for index.html / index.js attributes */
body, html{
    margin: 0;
}

.page{
    background: aliceblue;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.filter{
    /*background: rebeccapurple;*/
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

#filter{
    padding: 20px; /*padding to be changed - just used for testing */
    padding-top: 60px;
    /*background: darkslategray;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
}

.chordDiagram{
    background: white;
    flex-grow: 1;
    display: flex;
    padding: 3pc;
    align-items: center;
}

.movieList{
    background: red;
    width: 20%;
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
}

.boxplotsParent{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.boxplots{
    height: 50%;
    /*flex-basis: 40%;*/
    flex-grow: 1;
    margin: 5px;
    background: brown;
    justify-content: center;
    text-align: center;
}

.boxplots>svg{
    height: 100%;
}

.movieList{
    overflow: auto;
}

svg{
    height: 100%;
    max-width: 100%;
}

/*@media screen and (max-width: 700px){*/
/*    .boxplotsParent{*/
/*        flex-direction: column;*/
/*    }*/

/*    .boxplots{*/
/*        flex-basis: 100%;*/
/*    }*/
/*}*/

.genres{
    flex-grow: 1;
    background: purple;
}

.barPlots{
    flex-grow: 1;
    background: antiquewhite;
    display: flex;
    padding: 3pc;
    align-items: center;
    height: 100%;
}

.ageView{
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
    align-items: stretch;
    display: flex;
}

.changeView{
    background: red;
    width: 20%;
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
}

.languageComparison{
    padding: 3pc;
    display: flex;
    flex-grow: 1;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: stretch;
}

.languages{
    background: aquamarine;
    width: 45%;
    height: 45%;
}

.genres{
    padding: 3pc;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
}

.multiselect-wrapper {

}

.axis
{
    font-size: 10pt;
    font-family: sans-serif;
    color: grey;
}


/** Following code  block taken from: https://codepen.io/alexventuraio/pen/pwZJMK**/
/**** Custom styles for noUiSlider ****/
.noUi-connect {
    background: darkcyan;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    background: darkcyan;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: darkcyan;
}